/*! Section:  Borderless */
* .n9-grid.is-borderless .grid-col,
.n9-grid.is-borderless .grid-col::before,
.n9-grid.is-borderless .grid-col::after {
  outline: none;
}

/*! Section: Wireframe */

.n9-grid.is-wireframe .grid-col,
.n9-grid.is-wireframe .grid-col::before,
.n9-grid.is-wireframe .grid-col::after {
  background: transparent;
}

.n9-grid.is-wireframe.is-borderless .grid-col,
.n9-grid.is-wireframe.is-borderless .grid-col::before,
.n9-grid.is-wireframe.is-borderless .grid-col::after {
  border: 1px solid var(--bs-green);
}
