/*! Section: Body */

body.is-dark-mode {
  background: var(--bs-dark);
  color: var(--bs-light);
}

/*! Section: Backgrounds */

.n9-grid .grid-col {
  background: url("images/grass.png") repeat;
}

.n9-grid .grid-col::before,
.n9-grid .grid-col::after {
  background: url("images/dirt-dark.png") repeat;
}

/*! Section: Borders */

.n9-grid .grid-col {
  outline: solid hsl(145, 63%, 40%) var(--border-size);
}

.n9-grid .grid-col::before,
.n9-grid .grid-col::after {
  outline: solid hsl(26, 51%, 50%) var(--border-size);
}

/*! Section: Shadows */

.n9-grid .grid-col.is-lowered {
  box-shadow: rgba(var(--bs-dark-rgb), 0.3) 0rem -2rem 4rem -1rem inset;
}

.n9-grid .grid-col.is-raised {
  box-shadow: rgba(var(--bs-dark-rgb), 0.3) 0rem -1rem 2rem -1rem;
}
