/*! Section: Body */

body.is-dark-mode {
  background: var(--bs-dark);
  color: var(--bs-light);
}

/*! Section: Backgrounds */

.n9-grid .grid-col {
  background: url("images/grass.png") repeat;
}

.n9-grid .grid-col::before,
.n9-grid .grid-col::after {
  background: url("images/dirt-dark.png") repeat;
}

/*! Section: Borders */

.n9-grid .grid-col {
  --outline: hsl(150, 60%, 40%);
}

.n9-grid .grid-col::before,
.n9-grid .grid-col::after {
  --outline: hsl(25, 50%, 50%);
}
